.Rproj.user
.Rhistory
.RData
.Ruserdata
.Data
.Dataout

Data/
Dataout/
Images/
*.csv

#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
